@media only screen and (max-width: 600px) {
  #paperGrid {
    background: linear-gradient(to right, lightgray, white);
    display: flex;
    flex-direction: column;
  }
  #box1,
  #box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #paper1,
  #paper2 {
    height: 150px;
    overflow-y: auto;
  }
}
